<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.dishant.plugins.checkInput" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>CheckInputPlugin</name><js-module name="CheckInputPlugin" src="www/CheckInputPlugin.js"><clobbers target="checkInput" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="CheckInputPlugin"><param name="ios-package" value="CheckInputPlugin" /></feature></config-file><source-file src="src/ios/CheckInputPlugin.swift" /></platform></plugin>
